/*------------Formulario------------*/
.tituloform{
    font-size: 60px;
    font-family: 'VT323', monospace;
}
.conteudoform{
    color: #d42121;
    font-size: 20px;
    font-weight: 480;   
}
.form{
    width: 60%;
    display: inline-block;
    margin: 10% ;
    z-index: -1;
}


